{% extends "layout.html" %}

{% block body %}

<div class="container">
    <h1 class="display-3">Welcome to main page</h1>
    <h1 class="display-6">Let's get started</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore placeat quisquaTempore placeat quisquaTempore placeat quisquaTempore placeat quisquaTempore placeat quisquaTempore placeat quisquaTempore placeat quisquam distinctio dolores cum est, mollitia eum in nulla sapiente consequatur, ipsam eaque nisi dignissimos dolor, molestias ratione doloribus laboriosam?</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero dolorum culpa voluptates perferendis hic officia. Ex modi repudiandae quod earum dolore reprehenderit eos voluptatibus aperiam in asperiores. Tempora, ut.</p>
    <p class="lead text-end"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <button class="btn btn-outline-secondary btn-lg ">large outlined secondary</button>
    <button class="btn btn-outline-danger btn-lg">large outlined secondary</button>
</div>




{% endblock body %}