{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>WasteOil</title>
    <style>
        .my-container{
           border: 1px solid green; 
        }
    </style>
</head>
<body>
    {% include "includes/navbar.html" %}
    
    {% comment %} {% include "includes/sidebar.html" %} {% endcomment %}
    
    {% include "includes/messages.html" %}

    
    
    
    {% block body %}
        
    {% endblock body %}


    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0/jquery-3.6.0.js' %}"></script>
    
</body>
</html>